.column {
    width:70%;
    margin: 5% 0;
    background-color:#222;
    padding:30px;
    border-radius: 15px;
    border:1px solid #222;
}

.column h2{
    background-color:#fff;
    padding:5px;
    border-radius: 15px;
    float:left
}

.column p {
    color:#ccc;
    text-indent: 5%;
    text-align: justify;
    margin: 1em 0
}

li {
    margin:1em 0
}

li::marker {
    font-weight:bold;
    font-size:16px
}

span {
    color:#fff;
    font-weight:bold
}

span a {
    color:#fff
}

ul {
    margin: 0 0 0 1em
}

span a:hover {
    color:yellow
}